body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 5px auto;
    min-width: 500px;
}

/* start screen dialogue */
#desc1.fade-out,
#desc2.fade-out,
#desc3.fade-out,
.fade-out {
    animation-name: fade-out;
    animation-duration: 800ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

span {
    opacity: 0;
    transition: all 1s ease;
}

.fade {
    opacity: 1;
}

.disappear {
    display: none; 
}

.desc {
    text-align: left;
    /* Add any other styles you want for the paragraphs */
}


@keyframes fade-in {
    from {
        opacity: 0;
        pointer-events: none;
    }
    
    to {
        opacity: 1;
        pointer-events: all;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}

/* start screen end */

/*! Sprite slides in for now its Asgore */
#cta {
    opacity: 0;
    margin: 20px 0 0px 0;
    font-size: 40px;
    transform: translateX(-150px);
}

#cta.drop-down {
    animation-name: drop-down;
    animation-duration: 1100ms;
    animation-timing-function: cubic-bezier(0.58, 0.3, 0.49, 1.39);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes drop-down {
    from {
        opacity: 0;
        transform: translateX(-550px);
        pointer-events: none;
    }

    to {
        opacity: 1;
        transform: translateX(10px);
        pointer-events: all;
    }
}

#asgore {
    width: calc(36px * var(--pixel-size));
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

/* !Dialogue box */
.dialogue-container {
    margin: 1px auto;
    max-width: 500px;
    border: white solid 5px;
    color: white;
    height: auto;
    max-height: 300px;
    min-height: 120px;
    /* Set a maximum height */
    overflow-y: auto;
    /* Make the content scrollable if it exceeds the maximum height */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.dialogue {
    margin: 0px;
    padding: 10px;
    font-size: 15px;
    color: white;
    border: solid 2px red;
}

.dialogue-container p {
    margin: 10px;
    border: 2px solid grey;
}

.health {
    width: 100%;
    height: 20px;
    margin: 5px;
    display: flex;
    justify-content: center;
    /* border: solid 1px blue; */
}

.hp-text{
    margin-right: 3px;
    margin-top: 1.5px;
}

.health-bar {
    background-color: #F7FF00;
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-right: 5px;
}

.life-number {
    margin-top: 3px
}

.player-selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 2px solid yellowgreen; */
    align-items: center;
    justify-content: space-around;
    height: 30px;
    /* Set a specific height for the container */
}

.invisible {
    display: none;
}

#rock, #paper, #scissors {
    /* border: 2px solid orange; */
    padding: 1px;
}

.result {
    display: flex;
    margin: 5px;
    justify-content: space-around;
    color: #000000;
}

.player-score,
.computer-score {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

h2 {
    margin-bottom: 5px;
}



/* ! END GAME MODAL */
#end-alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#end-alert.disappear,
.disappear {
    display: none;
    /* hide the element */
}

#end-desc {
    font-size: 50px;
    margin-bottom: 25px;
}

#retry-btn {
    display: inline-block;
    padding: 0.8em 1.4em;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    color: #646464;
    background-color: rgb(245, 245, 245);
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    position: relative;
    margin-top: 25px;
    opacity: 0;
}

#retry-btn:hover {
    cursor: pointer;
    filter: brightness(1.1);
    transform: scale(1.05);
}


/* !Sprite */
:root {
    --pixel-size: 4;
}

 .character {
    /* background: red; */
    width: calc(25px * var(--pixel-size));
    height: calc(24px * var(--pixel-size));
    overflow: hidden;
} 

.character_spritesheet {
    animation: moveSpritesheet 0.3s steps(2) infinite;
    width: calc(204px * var(--pixel-size));
    /*used image-rendering to make the undyne dialogue sprite appear more clear and crisp as the pixelart style was not working*/
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.pixelart {
    image-rendering: pixelated;
}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(-2.5px, 0, 0);
    }
    to {
        transform: translate3d(-25%, 0, 0);
    }
}

.stop-animation {
    animation-play-state: paused;
}

/* ! Dialogue speech box */
[speech-bubble],
[speech-bubble] * {
    box-sizing: border-box
}

[speech-bubble] {
    --bbColor: rgb(255, 255, 255);
    --bbArrowSize: 1.5rem;
    --bbBorderRadius: 0.25rem;
    --bbPadding: 0.5rem;
    background: var(--bbColor);
    border-radius: var(--bbBorderRadius);
    padding: var(--bbPadding);
    position: relative;
}

[speech-bubble]::before {
    content: '';
    position: absolute;
    background: var(--bbColor);
}


[speech-bubble][pbottom][aright]::before {
    right: 1rem;
    clip-path: polygon(0 0, 75% 0, 100% 100%)
}


/* left and right  */
[speech-bubble][pleft]::before,
[speech-bubble][pright]::before {
    --height: calc(var(--bbArrowSize) / 2 * 3);
    width: var(--bbArrowSize);
    height: var(--height);
}



/* left */
[speech-bubble][pleft]::before {
    right: calc(100% - 2px);
}

[speech-bubble][pleft][atop]::before {
    top: var(--bbPadding);
    clip-path: polygon(0 0, 100% 25%, 100% 100%)
}

[speech-bubble][pleft][acenter]::before {
    top: calc(50% - var(--height) / 2);
    clip-path: polygon(0 50%, 100% 12.5%, 100% 87.5%);
}

[speech-bubble][pleft][abottom]::before {
    bottom: var(--bbPadding);
    clip-path: polygon(0 100%, 100% 0, 100% 75%)
}



/* for demo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default
}

body {
    max-width: 60rem;
    margin-inline: auto;
    font-family: sans-serif;
    display: grid;
    grid-template-areas:
        'br bc bl'
        'rb cc lb'
        'rc cc lc'
        'rt cc lt'
        'tr tc tl';
    padding: 2rem;
    gap: 2rem;
}

.middle {
    grid-area: cc;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: white;
}



[speech-bubble] {
    filter: drop-shadow(0px 0px 0.2rem black);
    transition: transform 0.25s ease
}

/* [speech-bubble]:hover {
    transform: scale(1.05);
    filter:
        drop-shadow(0px 0px 0.2rem black) drop-shadow(0px 0px 1rem var(--bbColor));
} */

[speech-bubble] .title {
    color: rgb(0, 0, 0);
    margin-bottom: 0.5rem;
    font-size: 15px;
    /* text should be aligned left to right  */
    text-align: left;
    min-width: 120px;
}


.middle code {
    font-size: 1rem;
}

[speech-bubble] {
    position: fixed;
    /* Change this to fixed */
    top: 0%;
    /* Add this */
    left: 75%;
    /* Add this */
    transform: translate(-50%, -50%);
    /* Add this */
}